.toggle-button-container {
  aspect-ratio: 1 / 1;
  width: 40px;
  background: var(--theme-button-background);
  border-radius: 5px;
}

.toggle-button-container button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 25px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-button-color);
}
